<!-- Modal xác nhận xóa -->
<div class="modal fade" id="confirmUndoModal" tabindex="-1" aria-labelledby="confirmUndoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmUndoModalLabel">Xác nhận Thu hồi sản phẫm </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn thu hồi sản phẫm từ người dùng không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <a id="confirmUndoBtn" href="#" class="btn btn-success">Thu hồi</a>
            </div>
        </div>
    </div>
</div>
