@{
    ViewData["Title"] = "Trang chủ";
}


<!-- Start Main Slider -->
<section class="main-slider style1">
    <div class="slider-box">
        <!-- Banner Carousel -->
        <div class="banner-carousel owl-theme owl-carousel">
            <!-- Slide -->
            <div class="slide"  style="padding: 175px 0">
                <div class="image-layer" style="background-image:url(assets-template/images/slides/slide-v1-1.jpg)"></div>
                <div class="slider-bg-box" style="background-image: url(assets-template/images/slides/slide-v1-1-bg1.jpg);"></div>
                <div class="slider-image"><img class="float-bob-y" src="assets-template/images/slides/slide-v1-1-image11.png" alt=""></div>
                <div class="round-box" style="margin: -100px  300px 0 0px;  ">
                    <h3>Kiểm soát môi trường  <br></h3>
                    <h2>Thành công bền vững</h2>
                </div>
                <div class="auto-container">
                    <div class="content">
                        <div class="big-title">
                            <h2>IoT<br>  Chìa khóa <br> cho ao tôm  xanh!</h2>
                        </div>
                        <div class="text">
                            <p>Công nghệ IoT giúp giám sát môi trường ao tôm<br> Hiệu quả - tức thì - phản hồi nhanh chóng.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide -->
            <div class="slide" style="padding: 215px 0">
                <div class="image-layer" style="background-image:url(assets-template/images/slides/slide-v1-1.jpg)"></div>
                <div class="slider-bg-box" style="background-image: url(assets-template/images/slides/slide-v1-1-bg2.jpg);"></div>
                <div class="slider-image"><img class="float-bob-y" src="assets-template/images/slides/slide-v1-1-image22.png" alt=""></div>
                <div class="round-box" style="margin: 170px  300px 0 0px;  ">
                    <h3>Môi trường số hóa <br></h3>
                    <h2>Kiểm soát trong tầm tay!</h2>
                </div>
                <div class="auto-container">
                    <div class="content">
                        <div class="big-title">
                            <h2>Theo dõi 24/7 <br>Bảo vệ ao tôm toàn diện!<br> </h2>
                        </div>
                        <div class="text">
                            <p> Giám sát real-time  <br> phát hiện sớm bất thường, giúp ao tôm luôn ổn định.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide -->
            <div class="slide" style="padding: 215px 0">
                <div class="image-layer" style="background-image:url(assets-template/images/slides/slide-v1-1.jpg)"></div>
                <div class="slider-bg-box" style="background-image: url(assets-template/images/slides/slide-v1-1-bg1.jpg);"></div>
                <div class="slider-image"><img class="float-bob-y" src="assets-template/images/slides/slide-v1-1-image33.png" alt=""></div>
                <div class="round-box " style="margin: 170px  300px 0 0px;  ">
                    <h3>Công nghệ tiên phong<br>  </h3>
                    <h2>kết nối vững chắc.</h2>
                </div>
                <div class="auto-container">
                    <div class="content">
                        <div class="big-title">
                            <h2>Kết nối thông minh <br> An toàn theo dỗi <br></h2>
                        </div>
                        <div class="text">
                            <p>Giám sát ao tôm mọi lúc<br> cảnh báo kịp thời, tối ưu quy trình nuôi chỉ với một chạm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Main Slider -->
@await Component.InvokeAsync("Product")


<!--Start Shop Style1 Area-->
<section class="shop-style1-area">
    <div class="shop-top-image-box">
        <div class="inner">
            <img src="assets-template/images/resources/shop-top-image.png" alt="">
        </div>
        <div class="ice paroller">
            <img class="zoom-fade" style="position: relative; left: -110px; top: -120px; width: 600px" src="assets-template/images/resources/ice1.png" alt="">
        </div>
        <div class="round-box paroller-2">
            <h3> Theo dõi <br>pH, Oxy, Độ mặn, Nhiệt độ…<br></h3>
        </div>
    </div>
    <div class="big-title" style="font-size: 40px; padding-top: 215px">"Công nghệ dẫn đường – Bứt phá trong nuôi tôm bền vững."</div>


</section>
<!--End Shop Style1 Area-->
<!--Start Choose Style1 Area-->
<section class="choose-style1-area pt-4 pb-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-4" style="height: 600px">
                <div class="choose-style1_image-box wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms">
                    <img src="assets-template/images/resources/choose-style1-img.png" alt="" />
                    <div class="round-box js-tilt paroller">
                        <h3>An toàn<br>khi sử dụng <br></h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="choose-style1-content">
                    <div class="sec-title pt-0 pb-2">
                        <div class="decor">
                            <img src="assets-template/images/shape/decor.png" alt="">
                        </div>
                        <h2 style="font-size: 24px; margin-top: 12px">QUY TRÌNH <br>QUAN TRẮC CHẤT LƯỢNG NƯỚC</h2>
                        <div class="decor">
                            <img src="assets-template/images/shape/decor.png" alt="">
                        </div>
                    </div>
                    <div class="inner-content">
                        <div class="shape">
                            <img src="assets-template/images/shape/choose-style1-shape-1.png" alt="">
                        </div>
                        <ul class="clearfix" style="height: 180px">
                            <li class="wow fadeInRight" data-wow-delay="100ms" data-wow-duration="1500ms">
                                <div class="icon">
                                    <div class="icon-bg" style="background-image: url(assets-template/images/shape/thm-shape-1.png);"></div>
                                    <span class="icon-write-message"></span>
                                </div>
                                <div class="text">
                                    <h4 style="font-size: 16px">1. Xác định yêu cầu và lựa chọn địa điểm</h4>
                                    <p>Xác định yêu cầu quan trắc và lựa chọn địa điểm, vị trí lắp đặt hệ thống quan trắc chất lượng nước.</p>
                                </div>
                            </li>
                            <li class="wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="icon">
                                    <div class="icon-bg" style="background-image: url(assets-template/images/shape/thm-shape-1.png);"></div>
                                    <span class="icon-shield"></span>
                                </div>
                                <div class="text">
                                    <h4 style="font-size: 16px">  2. Đề xuất và tính toán </h4>
                                    <p>
                                        Đề xuất các thông số quan trắc tùy theo nhu cầu và tính toán thời gian, tần suất quan trắc phù hợp.
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <ul class="clearfix" style="height: 200px">
                            <li class="wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="icon">
                                    <div class="icon-bg" style="background-image: url(assets-template/images/shape/thm-shape-1.png);"></div>
                                    <div style="font-size: 40px; color: #65cef5; margin-top: 15px">
                                        <i class="far fa-lightbulb"></i>
                                    </div>
                                </div>
                                <div class="text">
                                    <h4 style="font-size: 16px">
                                        3. Thu thập và truyền dữ liệu
                                    </h4>
                                    <p>
                                        Thu thập dữ liệu từ các đối tượng quan trắc (điều kiện tự nhiên, sử dụng nước, dân cư, nguồn ô nhiễm, v.v...)
                                    </p>
                                </div>
                            </li>

                            <li class="wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
                                <div class="icon">
                                    <div class="icon-bg" style="background-image: url(assets-template/images/shape/thm-shape-1.png);"></div>
                                    <div style="font-size: 40px; color: #65cef5; margin-top: 15px">
                                        <i class="fab fa-cloudversify"></i>
                                    </div>
                                </div>
                                <div class="text">
                                    <h4 style="font-size: 16px">
                                        4. Phân tích, cảnh báo và giải pháp
                                    </h4>
                                    <p>
                                        Hệ thống phân tích dữ liệu, phát hiện bất thường, gửi cảnh báo và đề xuất giải pháp xử lý kịp thời.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Choose Style1 Area-->


<!--Start Blog Style1 Area-->
@await Component.InvokeAsync("News")
<!--End Blog Style1 Area-->



@await Component.InvokeAsync("Contact")




@* <section class="testimonials-style1-area">
    <div class="container">

        <div class="sec-title text-center">
            <div class="sub-title">
                <h5>Testimonials</h5>
            </div>
            <h2>Here's what our customers<br> say about us</h2>
            <div class="decor">
                <img src="assets-template/images/shape/decor.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="theme_carousel testimonials-carousel_1 owl-dot-style1 owl-theme owl-carousel" data-options='{"loop": true, "margin": 30, "autoheight":true, "lazyload":true, "nav": false, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "1" }, "768" :{ "items" : "1" } , "992":{ "items" : "1" }, "1200":{ "items" : "1" }}}'>
                    <!--Start Single Testimonials Style1-->
                    <div class="single-testimonials-style1">
                        <div class="img-box">
                            <img src="assets-template/images/testimonial/testimonial-v1-1.jpg" alt="" />
                            <div class="round-1"></div>
                            <div class="round-2"></div>
                        </div>
                        <div class="inner-content">
                            <div class="content-box">
                                <div class="rateing-box">
                                    <ul>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                                <h3>I've had the Best Experience</h3>
                                <p>We are extremely happy with  Aguapure's service. They are very prompt. Billing always correct. And they give plenty of notice of the next delivery it is very easy.</p>
                                <h4>Rodha Thelma,  <span>California</span></h4>
                            </div>
                        </div>
                    </div>
                    <!--End Single Testimonials Style1-->
                    <!--Start Single Testimonials Style1-->
                    <div class="single-testimonials-style1">
                        <div class="img-box">
                            <img src="assets-template/images/testimonial/testimonial-v1-2.jpg" alt="" />
                            <div class="round-1"></div>
                            <div class="round-2"></div>
                        </div>
                        <div class="inner-content">
                            <div class="content-box">
                                <div class="rateing-box">
                                    <ul>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                                <h3>Great Tasting Water & Awesome</h3>
                                <p>Have used their service for five years & can say the service has always been amazing. The delivery driver is friendly. The water tastes really good & we recommend.</p>
                                <h4>Lillian Grace, <span>California</span></h4>
                            </div>
                        </div>
                    </div>
                    <!--End Single Testimonials Style1-->
                    <!--Start Single Testimonials Style1-->
                    <div class="single-testimonials-style1">
                        <div class="img-box">
                            <img src="assets-template/images/testimonial/testimonial-v1-3.jpg" alt="" />
                            <div class="round-1"></div>
                            <div class="round-2"></div>
                        </div>
                        <div class="inner-content">
                            <div class="content-box">
                                <div class="rateing-box">
                                    <ul>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                                <h3>Team was Very Professional</h3>
                                <p>I went to the Aguapure water office to speak with someone in person about Aguapure services. The  team was very professional and answered all my questions. </p>
                                <h4>Luke Nobert, <span>Los Angeles</span></h4>
                            </div>
                        </div>
                    </div>
                    <!--End Single Testimonials Style1-->
                    <!--Start Single Testimonials Style1-->
                    <div class="single-testimonials-style1">
                        <div class="img-box">
                            <img src="assets-template/images/testimonial/testimonial-v1-4.jpg" alt="" />
                            <div class="round-1"></div>
                            <div class="round-2"></div>
                        </div>
                        <div class="inner-content">
                            <div class="content-box">
                                <div class="rateing-box">
                                    <ul>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                                <h3>The Water is Delicious</h3>
                                <p>I went to the Aguapure water office to speak with someone in person about Aguapure services. The  team was very professional and answered all my questions. </p>
                                <h4>Luke Nobert, <span>Los Angeles</span></h4>
                            </div>
                        </div>
                    </div>
                    <!--End Single Testimonials Style1-->


                </div>
            </div>
        </div>
    </div>
</section> *@
