@model EcoShrimp.Data.Entities.AppShrimp
@{
    ViewData["Title"] = "Trang chủ ";
}

<div class="text-center">
    <h1 class="display-4">
        <img src="@Model.LogoUrl" height="200px"/>
    </h1>
    <h4 style="text-transform: uppercase;">
        Hệ thống giám sát môi trường ao tôm - Đồng hành cùng người nuôi tôm trong kỷ nguyên số!
    </h4>
    <hr />
    <h5 style="text-transform: uppercase;">
        <strong>Khóa luận tốt nghiệp 2025</strong>
    </h5>
    <h4 style="text-transform: uppercase;">
        Đề tài: Nghiên cứu xây dựng hệ thống IoT để giám sát môi trường ao nuôi tôm
    </h4>
    <h5 style="text-transform: uppercase;">
        Sinh viên thực hiện: Nguyễn Quốc Duy 
    </h5>
    <h5 style="text-transform: uppercase;">
        Lớp: 21tin01-tt 
    </h5>
    <h5 style="text-transform: uppercase;">
        Mssv: 219872
    </h5>

</div>
