@model EcoShrimp.Admin.Areas.Admin.ViewModels.News.NewsVM
@{
	ViewData["Title"] = "Cập nhật bài viết";
	var status = TempData["status"] as List<SelectListItem>;
}


<div class="row w-100 mt-2">
	<div class="col-auto p-0 ps-2 ">
		<a asp-action="Index" class="text-decoration-none">Quản lý danh sách bài viết/ </a>
	</div>
	<div class="col-auto p-0 ms-1">
		<i>Cập nhật bài viết</i>
	</div>
</div>

<form asp-action="Update" method="post" enctype="multipart/form-data">
	<div class="row fs-4 pt-2 align-items-center">
		<div class="col-auto p-0">
			<span class="" style="font-size: 25px">Cập nhật bài viết</span>
		</div>
		<div class="col  d-flex justify-content-end">
			<button type="submit" class="btn btn-primary js-btn-import" style="margin-left: 10px">
				<i class="far fa-edit"></i> &nbsp; Cập nhật
			</button>
		</div>
	</div>
	<hr />

	<div class="row">
		<div class="col-sm-6 pe-3">
			<div class="row g-3">
				<div class="col " style="padding: 0">
					<label class="control-label">Tên bài viết:<span style="color: red;">*</span></label>
					<input asp-for="Title" class="form-control" style="border-radius: 0px; height: 32px" />
					<span asp-validation-for="Title" class="text-danger"></span>
				</div>
			</div>
			@* Hình ảnh  *@
			<div class="row" style="margin-top: 15px">
				<div class="col-12 p-0 border border-1">
					<div class="row">
						<div class="col">
							<div class="form-group">
								<div class=" rounded-0 form-control text-start" style="background-color: #D2D2D2"><span>Hình ảnh (tối đa 10 - tối thiểu 1)<span style="color: red;">*</span></span></div>
							</div>
						</div>
					</div>
					<div class="row" style="margin-left: 10px;margin-bottom: 20px">
						<div class="col p-0 ms-2">
							<div class="row w-100 position-relative">
								<div class="col p-0 mt-2 mx-3" style="opacity: 1;">
									<div class="row text-center justify-content-center align-items-center"
										 style="border: dotted 2px rgb(139, 139, 139); height: 150px; position: relative;">
										<i class="fas fa-cloud-upload-alt" style="font-size: 50px; color: rgb(10, 176, 202)"></i>
										<img class="img-preview position-absolute" src="@Model.Path"
											 style="display: none; width: 100%; height: 100%; object-fit: cover;" />
										<i class="fas fa-times-circle remove-image position-absolute"
										   style="top: -15px; right: -15px; color: red; cursor: pointer; display: none; font-size: 25px"></i>
									</div>
								</div>
								<div class="col-12 p-0 mt-2 mx-3 position-absolute" style="opacity: 0;">
									<input data-preview="0" id="fileInput" class="file-input" asp-for="FormFile" type="file"
										   style="height: 150px; width: 100%; " accept="image/*" />
								</div>
							</div>
						</div>
					</div>
					<span asp-validation-for="FormFile" class="text-danger"></span>
				</div>
			</div>
		</div>
		<div class="col-sm-6 " style="padding:0 0 0 40px;">
			<div class="form-group m-0 pb-1">
				<div class="row g-3">
					<div class="col-6 " style="padding-right: 0">
						<label class="control-label">Danh mục:<span style="color: red;">*</span></label>
						<div class="form-group m-0">
							<select asp-for="IdCateNews" asp-items="ViewBag.cateNews" class="form-control form-select text-center border border-secondary p-0" style="font-size: 15px; height: 33px;" required>
								<option value="">--- Chọn danh mục ---</option>
							</select>
							<span asp-validation-for="IdCateNews" class="text-danger"></span>
						</div>
					</div>
					<div class="col-6">
						<label class="control-label">Trạng thái:<span style="color: red;">*</span></label>
						<div class="form-group m-0">
							<select asp-for="Status" asp-items="status" class="form-control form-select text-center border border-secondary p-0" style="font-size: 15px; height: 33px;" required>
								<option value="">--- Chọn trạng thái ---</option>
							</select>
						</div>
						<span asp-validation-for="Status" class="text-danger"></span>
					</div>
				</div>
			</div>
			<div class="form-group m-0 pb-2 mt-2">
				<div class="row g-3">
					<div class="col">
						<label class="control-label">Mô tả ngắn:</label>
						<textarea asp-for="Summary" class="form-control" style="border-radius: 0px; height: 200px"></textarea>
						<span asp-validation-for="Summary" class="text-danger"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	@* 	<div class="row">
		<div class="col-sm-12 p-0">
			<div class="image-preview-container form-group" id="images">
			</div>
		</div>
	</div> *@
	<div class="row">
		<div class="col-sm-12 mt-1 p-0">
			<div class="form-group">
				<label class="control-label">Nội dung:</label>
				<textarea id="AddDescNews" asp-for="Content" class="form-control" rows="4" style="border-radius: 0px;"></textarea>
				<span asp-validation-for="Content" class="text-danger"></span>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 20px">
		<div class="form-group">
			<partial name="_BackToList" />
		</div>
	</div>
</form>
